/*---------------------------- Body --------------------*/
.cover-pattern{
 height: 650px;
}
/*--------------------------- Navbar -------------------*/
.mylinks {
color: inherit; !important;
font-family: 'Helvetica';
font-weight: 100;
}

.mylinks:hover {
color: #D0D0CF; !important;
}
/*--------------------------- Footer --------------------*/
.navbar-text > a {
    color: inherit;
    padding-right: 8px;
}
.navbar-text > a:hover {
    color: #ECE25F;
}
/*--------------------------- Home Page ---------------------*/
.push-down {
margin-top: 80px;
  height: 280px;
}
.skill-container{
  height: 200px;
}
.thumbnail-1{
width: 460px;
height: 280px;
/*margin-right: 5px;*/
padding: 0;
}
.thumbnail-2{
  width: 250px;
  height: 280px;
  /*margin-left: 2.5px;
  margin-right: 2.5px;*/
  padding: 0;
}
.thumbnail-3{
height: 280px;
width: 460px;
/*margin-left: 5px;*/
padding: 0;
}
.img-circle{
  width: 250px;
  height: 250px;
  margin-top: 25px;
}
/*--------------------------- Line Skills ---------------------*/
.skills-1{
margin: 10px 0;
height: 30px;
padding: 0;
}
.skills-2{
  margin-top: 10px;
  padding: 0;
  background-repeat:no-repeat;
  background-position: center;
}
.custom-1{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-family: 'Helvetica';
  position: relative;
}
/*--------------------------- thumbnail Skills ---------------------*/
.skills-3{
  width: 193px;
  height: 200px;
  margin: 0 2px 0 0;
  padding: 0;
}
.skills-4{
  width: 193px;
  height: 200px;
  margin: 0 1px 0 1px;
  padding: 0;
}
.skills-5{
    width: 193px;
    height: 200px;
    margin: 0 0 0 2px;
    padding: 0;
}
.skills-6{
  width: 285px;
  height: 200px;
  margin: 0 0 0 7px;
  padding: 0;
}
